:global(.ods-dataviz-sdk-table) {
    // Table header
    :global(.table-header--number) {
        text-align: right;
    }

    // Table data
    :global(.table-data--long-text > span),
    :global(.table-data--short-text),
    :global(.table-data--url) {
        text-overflow: ellipsis;
        overflow: hidden;
        width: max-content;
        min-width: 40px;
        max-width: 240px;
    }
    :global(.table-data--long-text > span) {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        line-clamp: 3;
        -webkit-box-orient: vertical;
        white-space: pre-wrap;
    }
    :global(.table-data--number) {
        text-align: right;
    }
}
