.table-story--custom-style .table-wrapper {
    border-color: #fcd4cf;
}
.table-story--custom-style thead {
    border-bottom-color: #f94346;
    border-bottom-width: 2px;
    background-color: #fd635d;
    color:#ffffff;
}

.table-story--custom-style tbody tr {
    border-bottom-color: #fcd4cf;
}
.table-story--custom-style tbody tr:hover {
    background-color: #f9aea4;
}

.table-story--custom-style .pagination .arrow-button,
.table-story--custom-style .pagination .page-button {
    color:  #f94346;
}

.table-story--custom-style .pagination .arrow-button:disabled {
    color:  #fcd4cf;
}

.table-story--custom-style .pagination .page-size select {
    border-color: #f94346;
}

.table-story--custom-style .numbering  {
    color: #808080;
}

.design-system {
    color: blue;
}

.design-system svg {
    --selected: #142e7b;
    --neutral: #cbd2db;
}
