.table-story--custom-style .table-wrapper {
    border-color: #fcd4cf;
}

.table-story--custom-style .ods-dataviz--default th {
    border-bottom-color: #f94346;
    border-bottom-width: 2px;
    background-color: #fd635d;
    color:#ffffff;
}

.table-story--custom-style .ods-dataviz--default td {
    background-color: whitesmoke;
    border-bottom-color: #fcd4cf;
}

.table-story--custom-style .ods-dataviz--default tr:hover td {
    background-color: #f9aea4;
}

.table-story--custom-style .pagination {
    background-color: seashell;
}

.table-story--custom-style .pagination .arrow-button,
.table-story--custom-style .pagination .page-button {
    color:  #f94346;
}

.table-story--custom-style .pagination .arrow-button:disabled {
    color:  #fcd4cf;
}

.table-story--custom-style .pagination .page-size select {
    border-color: #f94346;
}

.table-story--custom-style .numbering  {
    color: #808080;
}

.design-system {
    color: blue;
}

.design-system .ods-dataviz--default td  button:hover {
    background-color: #cbd2db;
}

.design-system svg {
    --selected: #142e7b;
    --neutral: #cbd2db;
}
